@import url("https://fonts.cdnfonts.com/css/cursed-timer-ulil");

button {
  font-size: 30px;
  margin: 18px;
  background-color: rgb(249, 102, 4);
  padding: 12px;
  border-radius: 20px;
}

p {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 30px;
  margin-left: 250px;
  color: rgb(255, 1, 1);
}

pre {
  font-size: 35px;
  text-align: center;
}

body {
  background-color: rgb(169, 169, 165);
}

.dail {
  background-color: black;
  padding: 2px;
}
